/*  */
.landing {
    align-items: center;
    display: flex;
    height: calc(100vh - 60px);
    justify-content: center;
    width: 100%;
}
.itemList {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: darkslategray;
}