*{
  margin: 0;
  padding: 0;
}
img{
  max-width: 10px;
}
.landing{
  align-items: auto;
  display: flex;
  height: calc(100vh - 60px);
  justify-content: center;
  width: 100%;
}
button:hover{
  background-color: white;
}
.cart{
  width: 25px;  
  height: 30px;
}
.img{
  width: 30px;
  height: 30px;
}
.card-body{
  border-radius: 10% 10% 10% 10%;
  border: "https://w7.pngwing.com/pngs/739/553/png-transparent-hamburger-veggie-burger-chicken-sandwich-fast-food-hamburger-burger-burger-sandwich-food-recipe-cheeseburger-thumbnail.png";
}